.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;


}

.header_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    align-items: center;
}
